/* styles.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    background: linear-gradient(to bottom, #1e3c72, #2a5298); /* Default gradient */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    overflow: hidden;
}

.sidebar {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

#search {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#search input {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 70%;
}

#search button {
    padding: 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
}

#locations {
    width: 100%;
}

.location {
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#currentWeather {
    text-align: center;
    margin-bottom: 20px;
}

.forecast-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}

.info-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
}

.hour, .day, .info-item {
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    flex: 1;
    margin: 0 5px;
}

.info-item h3 {
    margin: 0 0 10px;
}

body.sunny {
    background: linear-gradient(to bottom, #f7b733, #fc4a1a);
}

body.clear {
    background: linear-gradient(to bottom, #4facfe, #00f2fe);
}

body.cloudy {
    background: linear-gradient(to bottom, #bdc3c7, #2c3e50);
}

body.rainy {
    background: linear-gradient(to bottom, #00c6ff, #0072ff);
}

body.night {
    background: linear-gradient(to bottom, #141e30, #243b55);
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }

    .sidebar {
        width: 200px;
    }

    .main-content {
        flex-grow: 1;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 767px) {
    .forecast-container, .info-container {
        flex-direction: column;
        align-items: center;
    }

    .hour, .day, .info-item {
        margin: 10px 0;
    }

    #search {
        flex-direction: column;
        align-items: center;
    }

    #search input, #search button {
        width: 100%;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    #search button {
        border-radius: 5px;
    }
}
